.title,
.subtitle,
.input,
.description,
.add_contact_button {
  margin-left: 20px;
}

.add_contact_button {
  margin-top: 20px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.add_contact_button:hover {
  cursor: pointer;
}
.input {
  margin-top: 10px;
}

.delete_button {
  margin-left: 10px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.delete_button:hover {
  cursor: pointer;
}

.contact_item {
  margin-top: 15px;
}
